repos:
- hooks:
  - id: seed-isort-config
    language_version: python3.10
  repo: https://github.com/asottile/seed-isort-config
  rev: v2.2.0
- hooks:
  - id: isort
    language_version: python3.10
  repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.10.1
- hooks:
  - id: black
    language_version: python3.10
  repo: https://github.com/ambv/black
  rev: 22.1.0
- hooks:
  - id: check-added-large-files
    language_version: python3.10
  - id: check-ast
    language_version: python3.10
  - id: check-builtin-literals
    language_version: python3.10
  - id: check-case-conflict
    language_version: python3.10
  - id: check-docstring-first
    language_version: python3.10
  - id: check-merge-conflict
    exclude: "docs/.*|\n"
    language_version: python3.10
  - id: check-toml
    language_version: python3.10
  - id: check-yaml
    language_version: python3.10
  - id: debug-statements
    language_version: python3.10
  - id: detect-private-key
    language_version: python3.10
  - id: end-of-file-fixer
    language_version: python3.10
  - id: fix-byte-order-marker
    language_version: python3.10
  - id: fix-encoding-pragma
    language_version: python3.10
  - id: mixed-line-ending
    language_version: python3.10
  - id: name-tests-test
    args: ['--django']
    exclude: "tests/database.py"
    language_version: python3.10
  - id: pretty-format-json
    language_version: python3.10
  - id: trailing-whitespace
    language_version: python3.10
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
- hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear == 21.11.29]
    exclude: "tests"
    language_version: python3.10
  repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
- hooks:
  - id: pyupgrade
    language_version: python3.10
  repo: https://github.com/asottile/pyupgrade
  rev: v2.31.0
- hooks:
  - id: pylint
    entry: pylint
    exclude: "tests"
    language_version: python3.10
  repo: https://github.com/pre-commit/mirrors-pylint.git
  rev: v3.0.0a4
- hooks:
  - id: mypy
    additional_dependencies: []
    exclude: "tests"
    language_version: python3.10
  repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
- hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.1.0]
    language_version: python3.10
  repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
- hooks:
  - id: bandit
    exclude: "tests"
    language_version: python3.10
  repo: https://github.com/PyCQA/bandit
  rev: 1.7.2
